<!DOCTYPE html>
<html>
  <head>
    <title>自己紹介ページです。</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-end" style="background-color: #839857;">
        <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDr <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav justify-content-end">
                <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopu Dropdown link 
</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href=<%= can_path%> >Can</a>
                <a class="dropdown-item" href=<%= must_path%> >Must</a>
                <a class="dropdown-item" href=<%= will_path%> >Will</a>
              </div>
            </li>
          <li class="nav-item" >
            <a class="nav-link" href=<%= root_path%> >Top</a>
          </li>
  
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
